{% extends "./base.html" %}
{% block body_block %}
<div class="container">
	  <div class="jumbotron">
	          {% if user.is_authenticated %}
		      	<h1>Welcome to ResearchMatch at {{ user.myuser.university }}</h1>
		      {% else %}
		       	<h1>Welcome to ResearchMatch</h1>
		      {% endif %}
		          {% if user.is_authenticated %}
		          	<form action = "{% url 'search_people' %}" method = 'POST'>
      					{% csrf_token %}
      					<input type="text" name="search_bar"/>
      					<input type="submit" name="submit_botton" value = "search">
		          	</form>
			          <h2>Hello {{ user.myuser.full_name }}</h2>
  			          <!-- <h2> Portfolio Site : {{ user.myuser.portfolio_site}}</h2> -->
  			          <a href = '/view_profile/{{user.id}}'> Visit Profile </a>
     		          {% if user.myuser.role == "Student" %}
		  				{% if alljobs|length %}
       		          		<h5> <a href = '/jobs' > Jobs </a> </h5>
		  				{% else %}
		  					<h5>No jobs posted</h5>
		  				{% endif %}
       		          {% else %}
       		          	<h5> <a href = '/jobpost/' >Post a job </a> </h5>
		  				{% if alljobs|length %}
		  					<h5> <a href = '/alljobs/' >See posted jobs </a> </h5>
		  				{% else %}
		  					<h5>No jobs posted</h5>
		  				{% endif %}
					  {% endif %}
       		          <a href = "{% url 'see_conversations' user.id %}"> See all conversations </a>
       		          <br/>       		          
		          {% endif %}
						    </div>
</div>
{% endblock %}
