{% extends "./base.html" %}
{% block body_block %}
<div class="container">
	  <div class="jumbotron">
		      <h1>Welcome to ResearchMatch !</h1>
		          {% if user.is_authenticated %}
			          <h2>Hello {{ user.username }}</h2>
     		          {% if user.myuser.portfolio_site %}
    			          <!-- <h2> Portfolio Site : {{ user.myuser.portfolio_site}}</h2> -->
    			          <a href="{{ user.myuser.portfolio_site }} "> Portfolio </a>
    			      {% endif %}
       		          {% if user.myuser.profile_pic %}
       		          	<img src = "{{ user.myuser.profile_pic.url }}" width = "240" />
					  {% endif %}
       		          <h6> <a href = '/jobpost/' >Post a job </a> </h6>
		          {% endif %}
						    </div>
</div>
{% endblock %}
