{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}

{% block styles %}
<style>
.container {
  position: relative;
}

.topright {

}

img { 
  width: 100%;
  height: auto;
  opacity: 0.3;
}
</style>
{% endblock %}

{% block body_block %}
    <section>
                <script type="text/javascript">
                    function submitVisitProfileForm()
                    {
                      // window.alert(visitProfileForm);
                      var f = document.getElementsByName("visitProfileForm")[0];
                      // window.alert(f);
                      f.submit();
                    }
                </script>
            <form name="visitProfileForm" action="{% url 'view_profile' %}">
                  {% csrf_token %}
                  <a href = 'javascript: submitVisitProfileForm()'> Go back to profile </a>
            </form>    
    	<form action="/update_profile/"  enctype="multipart/form-data" method="POST">
		{% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                <div class = 'title-cover'>                
           <div class = "profile_pic" align = "left">
                      {% if profile_link %}
                        <img src = "{{ profile_link }}" width = "240" style = 'object-fit: cover; width:230px;height:230px;' />
                      {% else %}
                        <img src = "{{ user.myuser.profile_pic.url }}" width = "240" style = 'object-fit: cover; width:230px;height:230px;' />
                      {% endif %}
                      	<label for="img">Upload a new profile pic</label>
						<input type="file" id="img" name="profile_pic" accept="image/*">
                    </div>
                    <div style = "position: absolute;top: 8px;right: 16px;font-size: 18px;" >
                        <h1 class="heading">{{allinfo.myuser.full_name}}, {{allinfo.username}}
                        <br/> {{allinfo.email}} </h1>
                    </div>
                </div>
                          <!-- <h2> Portfolio Site : {{ user.myuser.portfolio_site}}</h2> -->
                       <div class="row">
                            <div class="col-lg-12 form-group">
                                <br>

                                <label> I am a {{ allinfo.myuser.role }}.</label>
                                <label for = "url"> Enter/update your linkedin</label>
                              {% if user.myuser.linkedin_url %}
								<input type="url" name="linkedin" id="url"
							       placeholder="https://linkedin.com/"
							       pattern="https://www.linkedin.com/.*" size="30" value ="{{ user.myuser.linkedin_url }}"
							       >
							    {% else %} 
								<input type="url" name="linkedin" id="url"
							       placeholder="https://linkedin.com/"
							       pattern="https://www.linkedin.com/.*" size="30" 
							       >
                              {% endif %}

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 form-group">
                                <label for="text">My Skills </label>
                                <textarea id="description" name="description" rows="5" class="form-control">{{ allinfo.myuser.skill_description}}</textarea>
                                <!-- <input type="text" value="{{ allinfo.myuser.skill_description}}" required readonly /> -->

                            
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 form-group">
                                <label for="university">University</label>
	                            <select id = "university" name = "university">
                                {% for u in univs %}
                                	{% if u.name == allinfo.myuser.university %}
					               <option value = "{{ u.name }}" selected>{{u.name}}</option>
                                	{% else %}
					               <option value = "{{ u.name }}" >{{u.name}}</option>
					               	{% endif %}
                                {% endfor %}
                                </select>
                                <!-- <p> {{allinfo.myuser.university}}</p> -->
                            </div>
                        </div>
                        
                        <div class="row;col-lg-12 form-group">
                            <label for="resume">Upload a new resume</label>
							<input name="resume" type="file" accept="application/pdf">
                 
                        </div>
                </div>
            </div>
        </div> 
        
        <input type="submit" name="submit" value = "Save Changes">
    </form>
    </section>

{% endblock %}